$font-principal: 'gudea-regular';
$font-titulos: 'montserrat';

$mapa-colores: (
    color-beige:#c7a17a,
    color-blanco: #ffffff,
    color-negro: #151515,
    color-azulnegro:#242628,
    color-celeste:#00c3ff,
    color-grisesito:#bbbbbb,
    color-grey:grey,
);